@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --roseSoft: #BA8790;
    --superSoft: #d99faa;
  --mauveLight: #a46671;
  --mauveDeep: #83404C;
  --burgundyDark: #520D19;
  --offWhite: #F8F5F2; /* warm, soft off-white */
  --offWhite2: #f5dddf; /* a touch brighter, still soft */
  --offWhite3: #fcd8d8; /* very subtle pinkish tint to complement mauve */
  --font-rouge-script: "Rouge Script", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.font-playfair {
  font-family: var(--font-playfair);
}

:root {
  --font-rouge-script: "Rouge Script", cursive;
}
.rouge-script {
  font-family: var(--font-rouge-script);
}